body {
    font-family: 'Poppins', sans-serif;
}

#banner {
    text-align: center;
    color: white;
    background-image: url(images/donation0.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    filter: blur(1px);

}

.middle {
    text-align: center;
    color: aqua;
    flex: none;
}

.flexible-container h3 {
    padding: 20px;
    padding-right: 20px;
    background-color: aliceblue;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.flexible-container {
    font-size: large;
    padding: 10px;
    display: flex;
    margin-bottom: 150px;
    width: 50%;
    margin: auto;
}