body {
    font-family: 'Poppins', sans-serif;
}

#banner {
    text-align: center;
    color: white;
    background-image: url(images/donation0.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    filter: blur(1px);

}

.middle {
    text-align: center;
    color: aqua;
    flex: none;
}

.flexible-container h3 {
    padding: 20px;
    padding-right: 20px;
    background-color: aliceblue;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.flexible-container {
    font-size: large;
    padding: 10px;
    display: flex;
    margin-bottom: 150px;
    width: 50%;
    margin: auto;
}

.donation {
    text-align: center;
}

.donation-plan {
    text-align: center;
    padding-left: 20px;
}

.my-updates {
    text-align: center;
    background-color: yellowgreen;
}

.footer {
    text-align: center;
    font-size: small;
    color: azure;
    background-color: black;
}